{
  "configIdList": [
{% for confLine in item['value']['proposedConfiglets'] %}
"{{confLine['key']}}"{%if not loop.last %},{% endif %}
{% endfor %}
  ],
  "netElementId": "{{item['key']}}",
  "pageType": "validate"
}

